#info {
  position: absolute;
  left: 0;
  top: 0; 
  margin: 5px; 
  border: 1px solid; 
  background: rgba(0,0,0,0.125); 
  width: 250px; 
  height: 740px; 
}

persons-list, groups-list {
  list-style: none;
}